@import "../../styles/theme";

.modal{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $black-back;
    z-index: 1200;
    &__window{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      min-width: 300px;
      height: min-content;
      padding: 40px;    
      background-color: $white-gray;
      border-radius: 10px; 
    }
    &__title {
      display: inline;
      color: $red;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
    }
    &__container{
      display: grid;
    }
    &__item {
      margin-top: 20px;
      margin-bottom: 16px;
    }
    &__button {
      margin-top: 20px;
      padding: 20px;
      min-height: 50px;
      color: $white;
      font-family: Pixel, Arial, Helvetica, sans-serif;
      font-size: 20px;
      text-align: center;
      outline: none;
      cursor: pointer;
      border: 3px solid $gray-dark;
      border-radius: 10px;
      background-color: inherit;
      color: $gray-dark;
      &:hover {
        background-color: $black-stage;
        color: $white;
        border-color: $black-stage;
      }
    }
}
