@import "../../../styles/theme";

.user-list{
    &__container{
        background-color: $gray-dark;
        margin: 0px 10px 10px 0;
        padding: 5px 10px;
        border-radius: 5px;
    }
    &__list{
        li{
            margin: 5px 0;
        }
    }
}