.user-list__container {
  background-color: #333;
  margin: 0px 10px 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.user-list__list li {
  margin: 5px 0;
}

.statistics {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr 80px;
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 900px) minmax(100px, 1fr);
      grid-template: 100px 1fr 80px/minmax(100px, 1fr) minmax(300px, 900px) minmax(100px, 1fr);
  color: #fff;
  overflow: auto;
}

@media (max-width: 767.98px) {
  .statistics {
    -ms-grid-rows: 100px 1fr 80px;
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 900px) minmax(50px, 1fr);
        grid-template: 100px 1fr 80px/minmax(50px, 1fr) minmax(300px, 900px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .statistics {
    -ms-grid-rows: 100px 1fr 80px;
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 900px) minmax(20px, 1fr);
        grid-template: 100px 1fr 80px/minmax(20px, 1fr) minmax(200px, 900px) minmax(20px, 1fr);
  }
}

.statistics__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template: auto auto auto auto 1fr/ 1fr;
  margin-bottom: 30px;
}

.statistics__title {
  font-size: 40px;
  color: #fff;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: 600;
}

.statistics__subtitle {
  margin: 20px 0 15px 0;
  font-size: 26px;
  color: #999;
  letter-spacing: 2px;
  font-weight: 600;
  padding-bottom: 20px;
  position: relative;
}

.statistics__subtitle::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #777;
}

.statistics__list-container {
  font-size: 20px;
  max-height: 50vh;
  overflow-y: auto;
  outline: 2px solid #777;
  border-radius: 5px;
  padding: 10px 0 10px 10px;
}

@media (max-height: 767.98px) {
  .statistics__list-container {
    font-size: 16px;
  }
}

.statistics__list-container div:last-child {
  margin: 0px 10px 0 0;
}

.header {
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(134, 134, 134, 0)), to(rgba(0, 0, 0, 0.58)));
  background: linear-gradient(0deg, rgba(134, 134, 134, 0) 0%, rgba(0, 0, 0, 0.58) 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  -ms-grid-columns: minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
      grid-template: repeat(3, auto)/minmax(100px, 1fr) minmax(300px, 1500px) minmax(100px, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .header {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
        grid-template: repeat(3, auto)/minmax(50px, 1fr) minmax(300px, 1500px) minmax(50px, 1fr);
  }
}

@media (max-width: 479.98px) {
  .header {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
        grid-template: repeat(3, auto)/minmax(20px, 1fr) minmax(200px, 1500px) minmax(20px, 1fr);
  }
}

.header__container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2] 50px;
      grid-template: 1fr/repeat(2, 1fr) 50px;
}

.header__link-user, .header__link-tetris {
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: Pixel;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.57;
  letter-spacing: 1.12px;
  font-size: 20px;
  color: #fff;
}

.header__link-user:hover, .header__link-tetris:hover {
  color: #777;
}

.header__link-tetris {
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__link-logout {
  -ms-grid-column-align: end;
      justify-self: end;
  display: inline-block;
  width: 20px;
  height: 35px;
  color: #fff;
  background: url("../img/exit-w.svg") 0 0/100% 100% no-repeat;
  cursor: pointer;
}

.header__link-logout:hover {
  background: url("../img/exit-g.svg") 0 0/100% 100% no-repeat;
}

.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
}

.lds-roller {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FF4530;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container-auth {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.auth {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto 2fr;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template: 1fr auto 2fr/ 1fr auto 1fr;
  height: 100vh;
}

.auth__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  -ms-grid-columns: auto;
      grid-template: repeat(2, auto)/auto;
}

.auth__nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 40px;
  max-width: 300px;
  margin-bottom: 25px;
  cursor: pointer;
}

.auth__nav span {
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #777;
  position: relative;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.auth__nav span:hover {
  color: #fff;
}

.auth__nav .auth__nav-in {
  margin-right: 20px;
}

.auth__nav .navActive {
  color: #fff;
}

.auth__nav .navActive::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 100%;
  margin-top: 5px;
}

.auth__card {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: auto;
  background-color: inherit;
  color: #fff;
}

@media (max-width: 767.98px) {
  .auth__card {
    width: 300px;
  }
}

.auth__message {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FF4530;
  max-width: 250px;
  margin-bottom: 15px;
}

.auth .success {
  color: #D8F6A2 !important;
}

.auth__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 20px;
}

.auth__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.auth__password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 20px;
}

.auth input {
  margin-top: 13px;
  height: 50px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.auth input:hover {
  outline: 2px solid #777;
}

.auth input:focus {
  outline: 2px solid #777;
}

.auth label {
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
}

.auth .auth__reg,
.auth .auth__enter {
  margin: 20px 0px 15px 0px;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  min-height: 50px;
  padding: 2px;
  border: 3px solid #fff;
  border-radius: 6px;
  background-color: inherit;
  color: white;
}

.auth .auth__reg:hover,
.auth .auth__enter:hover {
  background-color: white;
  color: #777;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.modal__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 40px;
  background-color: #f5f6f6;
  border-radius: 10px;
}

.modal__title {
  display: inline;
  color: #FF4530;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.modal__container {
  display: -ms-grid;
  display: grid;
}

.modal__item {
  margin-top: 20px;
  margin-bottom: 16px;
}

.modal__button {
  margin-top: 20px;
  padding: 20px;
  min-height: 50px;
  color: #fff;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: 3px solid #333;
  border-radius: 10px;
  background-color: inherit;
  color: #333;
}

.modal__button:hover {
  background-color: #222;
  color: #fff;
  border-color: #222;
}

.displayGame {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin: 0 0 20px 0;
  padding: 20px;
  border: 2px solid #777;
  min-height: 20px;
  max-width: 250px;
  border-radius: 10px;
  color: #999;
  background: #111;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.red {
  color: #FF4530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.startButton {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  min-height: 50px;
  min-width: 170px;
  color: #fff;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: white;
}

.startButton:hover {
  background-color: white;
  color: #777;
}

.tetris {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px auto 80px;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template: 80px auto 80px/ 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Pixel, Arial, Helvetica, sans-serif;
  width: 100%;
  overflow: hidden;
  outline: none;
}

.tetris__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (auto)[2];
      grid-template: auto/repeat(2, auto);
  grid-column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.tetris__stage {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[12];
      grid-template-columns: repeat(12, 30px);
  -ms-grid-rows: (30px)[20];
      grid-template-rows: repeat(20, 30px);
  grid-gap: 1px;
  border: 1px solid #777;
  background: #222;
}

@media (max-height: 767.98px) {
  .tetris__stage {
    -ms-grid-columns: (20px)[12];
        grid-template-columns: repeat(12, 20px);
    -ms-grid-rows: (20px)[20];
        grid-template-rows: repeat(20, 20px);
  }
}

@media (max-height: 479.98px) {
  .tetris__stage {
    -ms-grid-columns: (15px)[12];
        grid-template-columns: repeat(12, 15px);
    -ms-grid-rows: (15px)[20];
        grid-template-rows: repeat(20, 15px);
  }
}

.tetris__display {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@font-face {
  font-family: 'Pixel';
  font-display: swap;
  src: url("../fonts/Pixel.ttf") format("truetype"), url("../fonts/Pixel.woff") format("woff"), url("../fonts/Pixel.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  font-size: 26px;
  background: url("../img/backg.jpg") 0 0/100% 100% no-repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  overflow: hidden;
}

.container-content {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background-color: #777;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #333;
}
