@import "../../styles/theme";

.tetris{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: $black-back;
    font-family: Pixel, Arial, Helvetica, sans-serif;
    width: 100%;
    overflow: hidden;
    outline: none;
    &__content{
        display: grid;
        grid-template: 1fr/ repeat(2, auto);
        grid-column-gap: 20px;
        justify-content: center;
        margin: 0 auto;
    }
    &__display{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}