@import "../../styles/theme";

.displayGame{
    box-sizing: border-box;
    display: flex;
    align-items: space-between;
    margin: 0 0 20px 0;
    padding: 20px;
    border: 2px solid $gray;
    min-height: 20px;
    max-width: 250px;
    border-radius: 10px;
    color: $gray-middle;
    background: $black;
    font-family: Pixel, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.red{
    color: $red;
    display: flex;
    justify-content: center;
}