@font-face {
    font-family: 'Pixel';
    font-display: swap;
    src:url('../fonts/Pixel.ttf') format('truetype'),
        url('../fonts/Pixel.woff') format('woff'),
        url('../fonts/Pixel.woff2') format('woff2');  
}
